

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 800px;
  border: 5px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 26px;
  margin:4em;

}

/* heading */
.portfolio h1 {

  /* figma font */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  /* identical to box height, or 44px */

  text-align: center;

  /* General / Dark */

  color: #222222;
}

.portfolio h4 {


  position: relative;

  width:60%;
 
  /* figma style */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* General / Dark / 70 */

  color: rgba(34, 34, 34, 0.7);
}




.portfolio  .swiper {
  width: 60%;
  height: 50%;
  position: relative;
  top:50px;
}

.portfolio .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}
/* 
2th,4th,6th */
.portfolio .swiper-slide:nth-child(2n) {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(255, 14, 14, 0.247);
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  backdrop-filter: blur(10px);
  position: relative;
}

.portfolio .swiper-slide img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: contain;
}

@media only screen and (max-width: 490px) {
  .portfolio{
    height:150vh;
    border: 5px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 26px;
    position: relative;
    margin:0em;
  }

  .portfolio .swiper-slide {
    position: relative;
    bottom:50px;
  }

  .portfolio h1{
    position: relative;
    left:30px;
    font-size: 20px;
  }
}